body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-content p {
    font-size: 1.2em;
}

section {
    padding: 20px;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section#about img {
    max-width: 200px;
    border-radius: 50%;
}

section#skills ul {
    list-style: none;
    padding: 0;
}

section#skills li {
    background: #f4f4f4;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

section#projects .project {
    margin-bottom: 20px;
}

section#projects img {
    max-width: 100%;
    height: auto;
}

section#resume a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section#resume a:hover {
    background-color: #555;
}

section#contact p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
